
@import url("docs.css");
@import url("widgets.css");

@font-face{
	font-family: 'Raleway', serif;
	source : url('font/Raleway-SemiBold.ttf') format('ttf');
	font-weight: 500;
}

body, 
html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	font-weight: 500 !important;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}

ul, ol {
	list-style: none;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border:0; 
	border-collapse: collapse;
	border-spacing:0; 
	empty-cells:show; 
	font-size:100%; 
}

/* Clearfix
-------------------------------------------------------------*/
* html .clearfix {
	height: 1%; /* IE5-6 */
}

html[xmlns] .clearfix { /* O */
	display: block;  
}

.clearfix:after { /* FF, O, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

*:first-child+html .clearfix { /* IE 7 */
	display: inline-block;
}
h3{
	color: #af7b1b;
	font-size: 22px;
	text-transform: uppercase;
	  letter-spacing: 3px;
	line-height: 24px;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 10px;
}

/* Mis.
-------------------------------------------------------------*/
.clearfix {
	clear: both;
}
.clear, .divider {clear: both;}

.no-display {display: none !important;}

.nowrap,th .nobr {white-space: nowrap !important;}

.no-border {
	border: 0 !important;
}

.no-padding {padding: 0 !important}
.no-margin 	{margin: 0 !important;}

.pipe {
	padding: 0 4px;
	text-align: center;
	color: #999999;
}

/*Alignment---*/
.v-top 		{vertical-align: top;}
.v-middle	{vertical-align: middle;}
.v-bottom 	{vertical-align: bottom;}

.a-left		{text-align: left;}
.a-center	{text-align: center;}
.a-right		{text-align: right;}

.left		{float: left;}
.right	{float: right; width: 100%;}

.normal-weight {font-weight: normal;}

.auto-width {width: auto;}

/*Various Clears---*/
.clear:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.col2-alt-set:after,
.head:after,
.inner-head:after,
.box .head:after,
.box ol li:after,
.header-top:after,
.quick-access:after,
.header-nav:after,
.middle:after,
.more-views ul:after,
.button-set:after,
.actions:after,
.legend:after,
.form-list li:after,
.button-container:after,
.ratings:after,
.page-head:after,
.page-head-alt:after,
.page-popup .print-head:after,
.group-select li:after,
.search-autocomplete li:after,
.tool-tip .btn-close:after,
.account-box li:after,
.address-list li:after,
.generic-product-list li:after,
.listing-type-list .listing-item:after,
.listing-type-list .product-info .product-reviews:after,.listing-type-grid .item:after,
.my-review-detail:after,
.product-options dt:after,
.product-options-bottom:after,
.product-options dd ul.options-list li:after,
.add-to-holder:after,
.listing-type-grid .grid-row:after,
.advanced-search-summary-box:after,
.shopping-cart-totals .checkout-types:after,
#nav ul li:after,
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.toolbar-inner:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after,
#nav li:after,
.ytm-tabs-title:after,
.ytm-tabs-title:after,
.product-options dl:after,
.yt-top .block-currency:after {
	content:"."; 
	display:block; 
	clear:both; 
	height:0; 
	font-size:0; 
	line-height:0; 
	visibility:hidden; 
	overflow:hidden;
}

.custombyzip{
	padding-top:20px;
}
.zipsearchresult{
	padding-top:20px;
	clear:both;
	display:block;
}
.zipsearchresult ul li{
	background:#fff;
	border-top:1px solid #dadada;
	color: #52565f;
	padding: 10px 15px;
	float: left;
	width: 130px;
	border-bottom: none !important;
}
.zipsearchresult ul li:first-child{
	width: 218px !important;
	float: left;
}

.zipsearchHeading{
	
	list-style: none;
    border: 1px solid #ebebeb;
}
.zipsearchHeading li{
	background:#fff;
	border-top:1px solid #dadada !important;
	color: #af7b1b !important;
	padding: 10px 15px;
	float: left;
	width: 130px;
	border-bottom: none !important;
}
.zipsearchHeading li:first-child{
	width: 220px !important;
	border-bottom: none;
   
}
.zipsearchHeadingResult{
	
	list-style: none;
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.zipsearchHeadingResult p{
	border-top:1px solid #dadada;
	padding: 8px 0px;
}
.zipsearchHeading li{
	background:#fff;
	border-top:1px solid #dadada;
	color: #af7b1b;
	padding: 10px 15px;
	float: left;
	width: 130px !important;
}
.zipsearchresult .zipsearchHeadingResult li:hover,.zipsearchresult .zipsearchHeadingResult li.selected{
	background:#fff;
	cursor:pointer;
	float: left;
	width: 130px;
}
#yt_wrapper #yt_main .cart .cart-collaterals #discount-coupon-form {
    float: none;
}
.referedby{
	clear:both;
	display:block;
	padding:15px;
	border: 1px solid #e9e9e9;
	margin-top:20px;
}
.referedby h2:before{
	content: "\f007";
	font-family: 'FontAwesome';
	font-size:15px;
	color:#F33;
	padding-right:10px;
}
.form-list label{ color:#000000 !important;}
.form-list label .required{ color:#ff0000 !important;}



/*SKU Page*/
.product-name{
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

.yt-product-detail .product-name span{
	font-size: 16px;
color: #6F6F6F;
text-align: left;
text-transform: uppercase;
font-family: 'Raleway', serif !important;
float: left;
}
.yt-product-detail .yt-detail-right .short-description{
	float:none;
}
.rating {
    display: inline-block;
    height: 19px;
    padding: 0;
    position: relative;
    text-align: right;
    vertical-align: top;
    width: 87px;
}

.rating .ratingwidth {
    background: #af7b1b none repeat scroll 0 0;
    display: inline-block;
    font-size: 0;
    height: 19px;
    left: 0;
    position: absolute;
    text-indent: -9999em;
    top: 0;
    z-index: 1001;
}

.rating .ratingblank {
    background: rgba(0, 0, 0, 0) url("../images/skustar.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 19px;
    left: 0;
    position: absolute;
    text-indent: -9999em;
    top: 0;
    width: 100%;
    z-index: 1002;
}

.custombyzip .errmsg{
	clear:both;
	display:block;
	padding:10px 0;
	color:#ff0000;
}
.zipsearchresult .zipsearchHeadingResult li:hover .rating .ratingblank {
	background:url(../images/trans-rating-h.png) no-repeat 0 0;
}
.product-shop .rating{
	margin-bottom:0px;
}
.product-shop .price-box{
	padding-bottom:10px;
}
.torder, .login-regis {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    line-height: 34px;
	float:left;
}
.custcare{
	float:left;
	line-height:34px;
}
.becmaeaseller{
	font-weight:bold !important;
	text-transform:uppercase;
	line-height:34px;
	font-family: 'Raleway', serif;
}
#beamaeasellerform{
	margin: 0;
    width: 100%;
    float: left;
}
#beamaeasellerform .form-list .value {
    width: 70%;
}
#beamaeasellerform .form-list{
	width:100%;
	float: left;
}
#beamaeasellerform .form-list ul{
	width:100%;
	float: left;
	list-style: none;
}
#beamaeasellerform .form-list ul li{
	width:100%;
	float: left;
	margin-bottom: 10px;
}
#beamaeasellerform .form-list ul li label{
	width:155px;
	float: left;
	color: #52565f;
	font-size: 13px;
	line-height: 40px;
}
#beamaeasellerform .form-list ul li input[type="text"]{
	width:500px;
	float: left;
	color: #52565f;
	font-size: 14px;
	line-height: 45px;
	border: 1px solid #ebebeb;
	outline: none;
	height: 45px;
}
#beamaeasellerform .form-list ul li input[type="checkbox"]{
	margin-top:15px;
}
#beamaeasellerform .form-list ul li textarea{
	width:500px;
	float: left;
	color: #52565f;
	font-size: 14px;
	line-height: 20px;
	border: 1px solid #ebebeb;
	outline: none;
	height: 125px;
	background: #fff;
	resize:none;
}
#seller_submit{
	float: right;
	width: 250px;
	height: 45px;
	line-height: 45px;
	background: #52565f;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400px;
	margin-top: -50px;
	padding: 0px;
	margin-right: 12px;
}

/*login*/
.login_panel{
	border: 1px solid #ebebeb;
	padding: 25px 35px;
	min-height: 500px;
	float: left;
}
.login_panel h2, .creat_account h2{
	color:#52565f;
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	font-weight: bold !important;
	width: 100%;
	float: left;
	text-transform: uppercase;
}
.login_panel .button{
	background: #52565f !important;
	padding: 12px 50px !important;
	font-weight: bold !important;
	font-size: 16px;
	margin: 30px 80px !important;
  	position: relative;
  	text-transform: none !important;
}
.login_panel p{
	color:#52565f;
	font-size: 12px;
	text-align: left;
	line-height: 22px;
	margin-bottom: 40px;
	width: 100%;
	float: left;
	font-weight: 600px !important;
}
.creat_account{
	border: 1px solid #ebebeb;
	padding: 25px;
	min-height: 500px;
	float: left;
	margin-bottom: 20px;
	margin-right: 15px;
}
.account-login h1{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 22px;
	color: #af7b1b;
	line-height: 24px;
	margin-bottom: 25px;
	margin-top: 10px;
}
.creat_account p{
	float: left;
	width: 80%;
	line-height: 20px;
	color: #52565f;
	font-size: 12px;
	font-weight: 500 !important;
	text-align: justify;
	margin-bottom: 30px;
}
.submit{
	background: #af7b1b;
  	line-height: 41px;
  	padding: 0px 20px;
  	z-index: 99;
  	margin-top: -57px;
  	float: right;
}
.or{
	float: left;
	width: 100%;
	text-align: center;
	margin: 40px 0px;
}
/*register*/
.register{
	float: left;
	width: 100%;	
}
.register ul{
	float: left;
	width: 100%;
	list-style: none;
}
.register ul li{
	width: 48%;
	float: left;
}
.register ul li.right{
	width: 48%;
	float: right;
}
.register ul li em{
  font-size: 11px;
  line-height: 14px;
  float: left;
  width: 100%;
}
.register ul li button{
	float: right;
	font-size: 15px;
	line-height: 26px !important
}
.forget{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}


/*about us*/
.left_panel{
	float: left;
	border: 1px solid #ebebeb;
	padding: 30px;
	margin-right: 20px;
}
.left_panel a{
	color: #af7b1b;
	text-decoration:underline;
}
.left_panel h2{
	color: #af7b1b;
	font-size: 14px;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	font-weight: bold !important;
	margin-left: -10px;
	text-align: left;
}
.left_panel h3{
	color: #52565f;
	font-size: 14px;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	font-weight: bold !important;
	margin-left: -10px;
	text-align: left;
	 text-transform: lowercase !important;
  	letter-spacing: 1px !important;
  	padding: 0px !important;// karthic css
}
.left_panel p{
	color: #52565F;
	font-size: 13px;
	float: left;
	width: 100%;
	margin-bottom: 10px;// karthic css
	line-height: 20px;
	text-align: justify;
}
.left_panel p span{
	font-weight: bold !important;
	float: left;
	width: 100%;
}


.text_rool{
	float: left;
	width: 100%;

}
.text_rool p{
	color: #949494;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;
	font-weight: 400 !important;
}
h4{
	color: #af7b1b;
	font-weight: 300 !important;
	font-size: 20px;
	text-transform: none;
	line-height: 24px;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 12px;
}
.page-title {
    display: none;
}
.product-add-box{
	float: right !important;
}
.product-add-box ul{
	list-style: none;
	float: right;
}
.product-add-box ul li{
	float: left;
	border: none;
}
.product-add-box ul li a{
	float: left;
	border: none !important;
	padding: 2px 8px;
	font-size: 15px;
	color: #c1c1c1;
}
.price-box .price{
	color: #000 !important;
	font-size: 24px;
}
.weight{
	color: #a1a1a1;
	float: left;
width: 100%;
}
.short-description{
	float: left;
	width: 100%;
	color: #a1a1a1;
	font-size: 13px;
}
.short-description h2{
	color:#6F6F6F !important;
	font-size:16px;
	
	margin-bottom:10px;
}
#search_by_zip{
	background: #52565f;
	padding: 8px 40px;
	color: #fff;
	font-size: 16px;
	
}
.zip_input{
	float: left;
	line-height: 28px;
	margin-top: 1px;
	margin-right: 8px;
	text-align: center;
	font-size: 13px;
	color: #a1a1a1 !important;
	width: 130px;
}
.block-title{
	float: left;
	width: 100%;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 40px !important;
	border-bottom: 1px solid #af7b1b !important;
	margin: 0px 0px 15px 0px !important;
	text-transform: uppercase;
	color: #000;
}
.my-account{
	float: left;
	padding-left: 30px;
	width: 100%;
}
.welcome-msg{
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.welcome-msg span{
	float: left;
	width: 100%;
	font-size: 14px;
	color: #000000;
	border-bottom: 1px solid #af7b1b;
	line-height: 40px;
	margin: 0px 0px 38px 0px !important;
	letter-spacing: 1px;
}
.welcome-msg p{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.fieldset {
    float: left;
    width: 100%;
}
.form-list{
	float: left;
	width: 80%;
}
.form-list input.input-text, input.input-text{
	border: 1px solid #ebebeb !important;
}
.add_contact{
	float: left;
	width: 100%;
	border: 1px solid #ebebeb;
	padding: 15px;
}
.add_contact ul{
	float: left;
	width: 50%;
	list-style: none;
}
.add_contact h2{
	float:left;
	background: #ebebeb;
	width: 104.5%;
	font-size: 12px;
	color: #000;
	padding: 5px;
	text-transform: uppercase;
	text-align: left;
	margin: -15px -15px 20px -15px;
}
.add_contact ul li{
	float: left;
	width: 98%;
}
.add_contact ul li.right{
	float: left !important;
	width: 98%;
}
.add_contact ul li .validate-select{
	float: left;
	width: 100% !important;
	height: 44px;
}
.add_contact ul h4{
	float: left;
	width: 100%;
	font-size: 12px;
	color: #a1a1a1;
	text-align: left;
}
.add_contact ul li button{
	float: right;
	margin-top: 15px;
}
.allorders{
	float: left;
	width: 73%;
	text-align: left;
}
.allorder_right{
	float: right;
}
.reviews_list{
	float: left;
	width: 100%;
	margin-top: 15px;
}
.reviews_list ul{
	float: left;
	width: 100%;
	list-style: none;
}
.reviews_list ul li{
	float: left;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.reviews_list ul li h4{
	float:left;
	width:100%;
	font-size: 13px;
	color: #000;
	text-align: left;
}
.reviews_list ul li h4 span{
	margin-left: 20px;
	margin-top: 5px;
}
.reviews_list ul li .revews_date{
	float: right;
	margin-top: -36px;
}
.reviews_list ul li a{
	color: #a1a1a1;
	font-size: 12px;
	float: right;
}
.wishlist_product{
	float: left;
	width: 100%;
	margin-top: 15px;
}
.wishlist_product ul{
	float: left;
	width: 100%;
	list-style: none;
}
.wishlist_product ul li{
	float: left;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.wishlist_product ul li h4{
	float:left;
	width:100%;
	font-size: 13px;
	color: #000;
	text-align: left;
	margin: 0px;
	font-weight: 500 !important;
}
.wishlist_product ul li h4 span{
	margin-left: 20px;
	margin-top: 5px;
	margin-right: 10px;
}
.wishlist_product ul li .revews_date{
	float: right;
	font-size: 13px;
}
.wishlist_product ul li .wishlist_price{
	float: left;
	width: 100%;
	color: #af7b1b;
	font-size: 13px;
}
.wishlist_product ul li .wishlist_offers{
	float: left;
	color: #a1a1a1;
	width: 100%;
	font-size: 12px;
}
.wishlist_product ul li .wishlist_remove{
	float: right;
	font-size: 12px;
}
.wishlist_product ul li .wishlist_btn{
	float: right;
	background: #af7b1b;
	font-size: 10px;
	padding: 5px 10px;
	margin: 20px 0px;
        text-transform: uppercase;
}
.wishlist_product ul li a{
	color: #a1a1a1;
	font-size: 12px;
	float: right;
}
.acc_Newsletter{
	float: left;
	width: 100%;
	margin-top: 15px;
}
.acc_Newsletter li{
	float: left;
	width: 50%;
	margin-bottom: 10px;
}
.acc_Newsletter li button{
	background: #af7b1b;
	float: right;
	padding: 5px 15px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
}

.input-box{
	margin-right: 10px;
}
.cart_icon{
	font-size: 18px;
	color: #737373;
	line-height: 30px;
}
.shipping_page{
	float: left;
	width: 95%;
	margin-right: 15px;
	border: 1px solid #ebebeb;
	padding: 10px 15px;
}
.shipping_page h2{
	float:left;
	width:100%;
	color:#000;
	font-size:18px;
	font-weight:500 !important;
	margin-bottom:30px;
	text-align:left;
}
.shipping_page ul{
	float: left;
	width: 100%;
	list-style: none;
}
.shipping_page ul li{
	float:left;
	width:100%;
}
.order_summary{
	float: left;
	width: 100%;
	margin-right: 0px;
	border: 1px solid #ebebeb;
	padding: 10px 15px;
}
.order_summary h2{
	float:left;
	width:100%;
	color:#000;
	font-size:18px;
	font-weight:500 !important;
	margin-bottom:30px;
	text-align:left;
}
.order_summary ul{
	float: left;
	width: 100%;
	list-style: none;
}
.order_summary ul li{
	float: left;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 15px;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: left;
	color: #000;
}
.order_summary ul li span{
	float: right;
	width: auto;
	font-size: 14px;
	color: #000;
}
.order_summary p{
	float: left;
	width: 100%;
	font-size: 14px;
	font-weight: bold !important;
	text-align: left;
	color:#000; 
	margin-bottom: 20px;
}
.order_summary p span{
	float: right;
	width: auto;
	font-size: 14px;
	font-weight: bold !important;
	color:#000; 
}
.billing_button{
	float: left;
	padding: 10px 30px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	background: #af7b1b;
	margin: 10px 0px;
}
.confirm{
	float: left;
	width: 96%;
	border: 1px solid #ebebeb;
	padding: 20px;
}
.confirm h2{
	float:left;
	width:100%;
	color:#000;
	font-size:18px;
	font-weight:500 !important;
	margin-bottom:30px;
	text-align:left;
}
.confirm_item, .confirm_qty, .confirm_price, .confirm_total{
	float: left;
	width: 100%;
	background: #f8f8f8;
	padding: 6px 5px;
	color: #000;
	font-size: 13px;
	font-weight: bold !important;
	text-align: left;
	margin-bottom: 20px;
}
.confirm_product, .confirm_qtyno, .confirm_priceno, .confirm_totalno{
	float: left;
	width: 100%;
	background: #fff;
	padding: 6px 5px;
	color: #52565f;
	font-size: 13px;
	font-weight: normal !important;
	text-align: left;
	border-bottom:1px solid #f8f8f8; 
	margin-bottom: 8px;
	height:85px;
}
.confirm_product img{
	height: 70px;
}
/*dev start*/
.product-info{
	border-bottom: none !important;
}
.block-content1{
	float: left;
	width: 100%;
}
#catalog-listing{
	float: left;
	margin-left: 20px;
}
.limiter-wrap{
	float: right;
}
.text_fild{
	float: left;
	width: 100%;
}
.text_fild ul{
	float: left;
	width: 100%;
	list-style: none;
}
.text_fild ul li{
	float: left;
	width: 48%;
}
.text_fild ul li.right{
	float: right;
	width: 48%;
}
.agreed{
	color: #dadada;
	line-height: 40px;
	float: left;
	margin-left: 10px;
	font-size: 12px;
}
.pagination{
	margin: 0px;
	margin-right: 30px;
	float: right;
}
.wishlist-empty{
	float: left;
	width: 100%;
}
/*dev end*/





/***** Jayaraman start *******/



.left_panel .sitemap .level-0 .citemlist
{
	font-weight:bold !important;
	color:#52565F !important;
	font-size:13px !important;
	
}
.left_panel .sitemap .level-1 .citemlist
{
	font-size:13px !important;
}

.left_panel .sitemap .level-0 {
	margin:12px 0px !important;
	padding:0 0 0 10px !important;
}

.left_panel .sitemap .level-1 {
	padding:0 0 0 45px !important;
}
.pagersitemap{
	display:none;
}
.sitemaphead{
	display:none;
}
.sitemap-head {
    color: #af7b1b;
    font-size: 13px;
    font-weight: bold !important;
}

.carttable th{

	color: #000 !important;
    font-size: 13px;
    font-weight: bold !important;

}
.carttable td{
	vertical-align:middle !important;
}
.carttable td img{
	width:105px;
	height:105px;
}
.paymentmodulepack {
    position: relative;
}
.order-chk .paymentmodulepack .compname {
    float: left;
    left: 11em;
    position: relative;
    top: 9.4em;
}
.order-chk .paymentmodulepack .localchq {
    float: left;
    left: -45px;
    position: relative;
    top: 158px;

}
.order-chk  .paymentmodulepack .outchq {
    float: left;
    left: 16em;
    position: relative;
    top: 158px;
}

.order-chk  .paymentmodulepack .clientcode {
    float: left;
    left: 110px;
    position: absolute;
    top: 204px;
}
.order-chk  .paymentmodulepack .chqdate {
    float: left;
    left: 27em;
    position: absolute;
    top: 293px;
}
.order-chk .paymentmodulepack .custname {
    float: left;
    left: 11em;
    position: absolute;
    top: 250px;
}
.order-chk .paymentmodulepack .chqno {
    float: left;
    left: 7em;
    position: absolute;
    top: 318px;
}
.order-chk .paymentmodulepack .chqdate1 {
    float: left;
    left: 160px;
    position: absolute;
    top: 318px;
}
.order-chk .paymentmodulepack .orderid {
    float: left;
    left: 48em;
    position: absolute;
    top: 318px;
}
.order-chk .paymentmodulepack .dsnum {
    float: left;
    left: 40.5em;
    position: relative;
    top: 158px;
}
.order-chk .paymentmodulepack .chq-amt {
    float: left;
    left: 54em;
    position: absolute;
    top: 318px;
}
.order-chk .paymentmodulepack .total-amnt {
    float: left;
    left: 54em;
    position: absolute;
    top: 460px;
}
.order-chk  .paymentmodulepack .orderidcash {
    float: left;
    position: absolute;
    right: 286px;
    top: 456px;
}
.order-chk  .paymentmodulepack .total-amntcash{
	float: left;
    left: 42em;
    position: absolute;
    top: 622px;
}

.order-chk .paymentmodulepack .drwbank {
    float: left;
    left: 35em;
    position: absolute;
    top: 318px;
}

.order-chk .paymentmodulepack .drawname {
    float: left;
    left: 19.5em;
    position: absolute;
    top: 318px;
}
.paymentmodulepackbankin{
	position: relative;
}
.order-chk .paymentmodulepackbankin .compname {
    float: left;
    left: 11em;
    position: relative;
    top: 9.4em;
}
.order-chk .paymentmodulepackbankin .dsnumdd {
    float: left;
    left: 42em;
    position: relative;
    top: 158px;
}
.order-chk .paymentmodulepackbankin .chqno {
    float: left;
    left: 7em;
    position: absolute;
    top: 318px;
}
.order-chk .paymentmodulepackbankin .chqdate1 {
    float: left;
    left: 160px;
    position: absolute;
    top: 318px;
}
.order-chk .paymentmodulepackbankin  .drawname {
    float: left;
    left: 23em;
    position: absolute;
    top: 432px;
}
.order-chk .paymentmodulepackbankin  .drwbank {
    float: left;
    left: 29em;
    position: absolute;
    top: 432px;
}
.order-chk .paymentmodulepackbankin .localchqdd {
    float: left;
    left: -2em;
    position: relative;
    top: 158px;
}
.order-chk  .paymentmodulepackbankin .outchq {
    float: left;
    left: 16em;
    position: relative;
    top: 180px;
}

.order-chk  .paymentmodulepackbankin .dsnumdd {
    float: left;
    left: 42em;
    position: relative;
    top: 158px;
}
.order-chk .paymentmodulepackbankin .clientcode {
    float: left;
    left: 110px;
    position: absolute;
    top: 204px;
}

.order-chk .paymentmodulepackbankin .chqdatedd {
    float: left;
    left: 22em;
    position: absolute;
    top: 204px;
}
.order-chk .paymentmodulepackbankin .custname {
    float: left;
    left: 11em;
    position: absolute;
    top: 250px;
}
.order-chk .paymentmodulepackbankin .total-amnt {
    float: left;
    left: 54em;
    position: absolute;
    top: 460px;
}
.order-chk .paymentmodulepackbankin .orderidcash {
    float: left;
    position: absolute;
    right: 286px;
    top: 456px;
}
.order-chk .paymentmodulepackbankin .orderid {
    float: left;
    left: 48em;
    position: absolute;
    top: 318px;
}
.order-chk .paymentmodulepackbankin .chq-amt {
    float: left;
    left: 54em;
    position: absolute;
    top: 318px;
}
.order-chk .paymentmodulepackbankin .drwbank {
    float: left;
    left: 35em;
    position: absolute;
    top: 318px;
}
.order-chk .paymentmodulepackbankin .drawname {
    float: left;
    left: 19.5em;
    position: absolute;
    top: 318px;
}
.order-chk  .paymentmodulepackbankin .total-amntcash{
	float: left;
    left: 42em;
    position: absolute;
    top: 622px;
}
.paymentmodulepackdd_checkout {
    position: relative;
}
.order-chk .paymentmodulepackdd_checkout .compname {
    float: left;
    left: 11em;
    position: relative;
    top: 11.2em;
}
.order-chk .paymentmodulepackdd_checkout .localchq {
    float: left;
    left: -20px;
    position: relative;
    top: 179px;

}
.order-chk  .paymentmodulepackdd_checkout .outchq {
    float: left;
    left: 16em;
    position: relative;
    top: 180px;
}
.order-chk  .paymentmodulepackdd_checkout .dsnum {
    float: left;
    left: 36em;
    position: relative;
    top: 180px;
}
.order-chk .paymentmodulepackdd_checkout .clientcode {
    float: left;
    left: 110px;
    position: absolute;
    top: 226px;
}
.order-chk .paymentmodulepackdd_checkout .chqdate {
    float: left;
    left: 27em;
    position: absolute;
    top: 315px;
}
.order-chk .paymentmodulepackdd_checkout .custname {
    float: left;
    left: 12em;
    position: absolute;
    top: 272px;
}
.order-chk .paymentmodulepackdd_checkout .orderidcash {
    float: left;
    position: absolute;
    right: 286px;
    top: 340px;
}
.order-chk  .paymentmodulepackdd_checkout .total-amntcash{
	float: left;
    left: 42em;
    position: absolute;
    top: 506px;
}

#checkout-step-payment #co-payment-form #checkout-payment-method-load #payment_form_paymentmodulepackbankin input{
	width:50%;
}

#checkout-step-payment #co-payment-form #checkout-payment-method-load #payment_form_paymentmodulepackbankin .rdio input{width:20px;float:left;}
#checkout-step-payment #co-payment-form #checkout-payment-method-load #payment_form_paymentmodulepackbankin .rdio span{float:left;margin:5px;}
#checkout-step-payment #co-payment-form #checkout-payment-method-load #paymentmodulepackdd_checkout input{
	width:50%;
}
#checkout-step-payment #co-payment-form #checkout-payment-method-load  #paymentmodulepack input{
	width:50%;
}
#checkout-step-payment #co-payment-form #checkout-payment-method-load #payment_form_paymentmodulepack input{
	width:50%;
}

#checkout-step-payment #co-payment-form #checkout-payment-method-load #payment_form_paymentmodulepack .rdio input{width:20px;float:left;}
#checkout-step-payment #co-payment-form #checkout-payment-method-load #payment_form_paymentmodulepack .rdio span{float:left;margin:5px;}


.oqtn{  font-weight: bold !important;  margin:10px 0 8px 0;}
.order-success-print-but{
    background-color: #af7b1b;
    clear: both;
    color: #fff;
    line-height: 100%;
    padding: 6px 10px;
    text-transform: uppercase;
 
}
.order-success-print-but:hover{
	color: #000 !important;
}


#checkout-step-login .account-create  input{

	margin-bottom:10px;
}
#checkout-step-login .fieldset{
	margin-bottom:5px;
}
#checkout-step-login .required{
	margin-bottom:10px;
}
#checkout-step-login  .form-list input{
	margin-bottom:7px;
}
#checkout-step-login  .form-list{
	margin-top:10px;
}
#checkout-step-login  .forget-req
{
	float:left;
	width:45%;
}
#checkout-step-login  .forget{
	float:left;
	width:55%;
	
}
.field .input-box{
	float:left;
	width:50%;
}

.wide .input-box{
	float:left;
	width:50%;
}
#shipping-new-address-form li.fields input{width:50%;}
.shiiping-name{
	float: left;
	width: 375px;
}

#shipping-new-address-form li.fields .input-box input{width:100%;}
#shipping-new-address-form li.fields .input-box input{width:100%;}
#shipping-new-address-form li.wide .input-box input{width:100%;}
#checkout-step-login .register ul li
{
width: 48%;
float: left;
margin-right: 10px;

}
.shipping_yes{

	float:left;
	width:50%;

}
.shipping_no{
	float:left;
	width:50%;
}
.r_btn{
	float:left;
	width:50%;
	margin-top:20px;
	margin-bottom:10px;
}
#shipping-buttons-container .required{
	margin:10px;
}

#shipping-buttons-container .back-link{
	margin: 10px;
}
.checkout-onepage-index #opc-billing #billing-address-select{

	width:100%;
	}

#checkout-step-billing{ 
	border:none !important;
	padding:0 !important;

}

#checkout-step-payment #co-payment-form #checkout-payment-method-load label {
    color: #7d7d7d !important;
    font-size: 12px !important;
    font-weight: bold !important;
    padding: 5px 5px 1px !important;
	margin-top:10px !important;
}

#checkout-step-payment #co-payment-form #checkout-payment-method-load input {
    margin: 16px 4px 0 0 !important;
	
}
#checkout-step-payment .required
{
	padding:5px;
}


#checkout-step-payment .back-link
{
	padding:5px;
}

#checkout-step-payment .savebtn
{
	float:right;
}
.order-status{
	width:100%;
	float:left;
}
.order-cancel-msg{

	float:right;
	text-decoration:underline;
	margin-top: 10px;
	padding:10px 0 5px 0 ;
	
}
  .ostatus span{font-weight: bold !important;  font-size: 13px;}
  .ostatus{ margin-bottom: 25px;width:50%;float:left;}

 .paymt-desc{padding: 0px 0 0 24px;width:500px;} 
 .full-ship {
    clear: both;
    float: left;
    width: 100%;
	padding: 10px 0;
} 
.biling-ship-address {
    float: left;
    width: 169px;
}
.biling-ship-diffaddress {
    float: left;
    width: 180px;
}  
.bilng-save {
    clear: both;
    float: left;
    padding: 10px 0;
}
#billing-buttons-container .required{
	float:left;
	clear:both;
	padding:10px 0 ;
}
.back-link-right{
	float:left !important;
	color:#af7b1b;
	width:100px !important;
	padding:10px 15px !important;
}
.back-link-right a{color:#af7b1b !important;}
.savebtn-right {

    float: left !important;
   
}

.our-dd {
    clear: both;
    float: left;
    width: 100%;
}

.our-dd-local {
    float: left;
    width: 160px;
}
.our-dd-out {
    float: left;
    width: 160px;
}
.our-dd-local .radio{
	margin: 1px !important;
    width: 10px !important;
}
.our-dd-out .radio{
	margin: 1px !important;
    width: 10px !important;
}

.our-dd-local span{
  float: left;
    margin: 16px 0 0 5px !important;
}
.our-dd-out span{
  float: left;
    margin: 16px 0 0 5px !important;

}
#payment-buttons-container{margin-top:15px;}
#payment_form_hdfc_standard li.mssg{padding:5px 0 0 25px;}
.mydate{

}
.chq-or{float:left !important;padding:10px 15px;width:20px !important;}

.chqchalan12 .total-amnt {
    float: left;
    left: 55em;
    position: absolute;
    top: 549px;
}

.chqchalan12 .chq-amt {
    float: left;
    left: 55em;
    position: absolute;
    top: 408px;
}

.chqchalan12 .orderid {
    float: left;
    left: 42em;
    position: absolute;
    top: 408px;
}

.chqchalan12 .chqdate1 {
    float: left;
    left: 195px;
    position: absolute;
    top: 408px;
}

.chqchalan12 .chqno {
    float: left;
    left: 10em;
    position: absolute;
    top: 408px;
}

.chqchalan12 .custname {
    float: left;
    left: 12em;
    position: absolute;
    top: 338px;
}

.chqchalan12 .chqdate {
    float: left;
    left: 27em;
    position: absolute;
    top: 294px;
}

.chqchalan12 .clientcode {
    float: left;
    left: 128px;
    position: absolute;
    top: 294px;
}

.chqchalan12 .dsnum {
    float: left;
    left: 34em;
    position: relative;
    top: 157px;
}

.chqchalan12 .outchq {
    float: left;
    left: 17em;
    position: relative;
    top: 157px;
}

.chqchalan12 .localchq {
    float: left;
    left: -1em;
    position: relative;
    top: 157px;
}

.chqchalan12 .compname {
    float: left;
    left: 12em;
    position: relative;
    top: 7rem;
}
.full-ship-me{
    clear: both;
    float: left;
}
.full-ship-yes{
    clear: both;
    float: left;
}

#checkoutSteps .nav li a:hover{

	background: none !important;
    color: #666666 !important;
}

#checkoutSteps .nav li a:focus{

	background: none !important;
    color: #666666 !important;
}
#checkoutSteps .nav li.active a:hover{

	background:#f8f8f8 !important;
	color: #af7b1b !important;
}
.catalog-category-view .products-grid .special-price {
    float: left;
    padding: 0 3px 0 0;
}

.catalog-category-view .products-grid .old-price {
    float: left;
    padding: 0 33px 0 0;
}
.catalog-category-view .products-grid .unit {
    float: left;
    font-size: 12px;
    margin: 1px 3px !important;
}
.catalog-category-view .products-grid .item .product-price {
    margin-bottom: 10px;
    margin-top: 1px;
}
.catalog-category-view .products-grid .item .price
{
	width: auto !important;
}
.catalog-category-view .products-grid  .wishlist_price{
	margin-top:1px;
}
.catalog-product-view .wishlist_price .unit {
    font-size: 20px;
}

.catalog-product-view .special-price .price {
    font-size: 20px;
}

.catalogsearch-result-index .note-msg {
    background: #f6f6f6 none repeat scroll 0 0 !important;
    color: #000 !important;
    font-size: 16px;
    margin-top: 25px;
    min-height: 199px;
    padding: 65px 35px 0;
    position: relative;
    right: 115px;
}
.catalog-category-view .ui-dialog {
	position:fixed;
}

.zip-block .errmsg {
	float:left;
	color:red;
	font-size:13px;	
}
#zipsearchHeadingResult .seller-error-msg {
	font-size: 13px;
    line-height: 75px;
    min-height: 75px;
    padding: 10px 12px;
	color:red;
}
/***** Jayaraman End *******/

.catagery_faq{
	float: left;
	margin-left: 5px;
	padding-left: 15px;
	min-height: 400px;
}
.catagery_faq p{
	float: left;
	width: 100%;
	text-align: justify;
	margin-bottom: 10px;
}
.catagery_faq h2{
	float: left;
	width: 100%;
	font-size: 15px;
	font-weight: bold !important;
	color: #222222;
	margin-bottom: 10px;
}
.catagery_faq h4{
	float: left;
	width: 100%;
	font-size: 14px;
	color: #af7b1b;
	margin-bottom: 10px;
	text-align: left;
	margin-top: 10px;
	background: url(../images/arrow_sml.png) no-repeat left top ;
	padding-left: 15px;
	font-weight: 600 !important;
	line-height: 20px;
}
.catagery_faq ul{
	margin-bottom: 10px;
}
catagery_faq span{
	margin-left: 15px;
}
.catagery_faq a{
	font-weight: 600 !important;
	font-size: 12px;
	float: right;
	color: #b98526;
}
.right_rooler{
	border-right: 1px solid #ebebeb;
	padding-right: 5px;
}
.become-seller{
	float: left;
	margin-top: -8px;
}
.become-seller a{
	color: #53565f;
	padding: 8px 20px;
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	letter-spacing: 2px;
	margin-left: 30px;
}
.m_sand{
	float: left;
	width: 100%;
}
.m_sand tr{
	float: left;
	width: 100%;
}
.m_sand tr td{
	float: left;
	width: 50%;
	border: 1px solid #d1d1d1;
	line-height: 30px;
	padding: 5px 0px 5px 5px;
}



#shipping-new-address-form  .input-box .fname{

width:100% !important;

}
#shipping-new-address-form  .input-box .lname{

width:100% !important;

}
#checkout-step-review {
	border-top:1px solid #000 #eaeaea !important;
}
.chqchalan12  .chqdatedd {
    float: left;
    left: 25em;
    position: absolute;
    top: 295px;
}

.ship-address.form-list > ul {
    float: left;
    width: 100%;
}





.chqchalan{
    background:url(../images/cheque.jpg) no-repeat left center;
    min-height: 50em;
    margin-bottom:17px;
    float: left;
    width: 100%;
}
.compname{  
	position: relative;
  	top: 7rem;
  	left: 12em;
  	float: left;
}
.localchq{ 
	position: relative;
  top: 155px;
  left: 7em;
  float: left;
}
.localchqdd{ 
	position: relative;
  top: 155px;
  left: -2em;
  float: left;
}
.outchq {
  position: relative;
  top: 157px;
  left: 25em;
  float: left;
}
.dsnum{ 
	position: relative;
  top: 157px;
  left: 43em;
  float: left;}
.dsnumdd{ 
	position: relative;
  top: 157px;
  left: 34em;
  float: left;}
.clientcode{ 
  position: absolute;
  top: 318px;
  left: 128px;
  float: left;
  }
.chqdate{
    position: absolute;
  	top: 318px;
  	left: 27em;
  	float: left;
}
.chqdatedd{
    position: absolute;
  top: 318px;
  left: 25em;
  float: left;
  }
.deploc{ 
  	position: absolute;
  top: 318px;
  left: 50em;;
  float: left;
}
.custname{
	position: absolute;
	top: 364px;
  	left: 12em;
  	float: left;
}
  .chqno{position: absolute;top: 432px; left: 10em;  float: left;}
  .chqdate1{position: absolute;  top: 432px;  left: 195px; float: left;}
  .drawname{position: absolute;top: 432px;  left: 23em;  float: left;}
  .drwbank{position: absolute;top: 432px;  left: 29em;  float: left;}
  .orderid{position: absolute;top: 432px;  left: 42em;  float: left;}
  .chq-amt{position: absolute;top: 432px;  left: 55em;  float: left;}
   .total-amnt{ position: absolute;  top: 574px;  left: 55em;  float: left;}
.carttable th{ background: #f8f8f8; border: none !important;}.mtalign30{ margin-top: 30px; display: block}.mt30{ margin-top:30px;}
.carttable td{ border: none !important}
.savebtntxt{  margin-top: 20px;}
.savebtn{text-transform: uppercase; color: #fff;
  background-color: #af7b1b;
  line-height: 100%;
  padding: 12px 15px;float: left;
}
.mt20{ margin-top: 20px;}
.padr10{ padding-right: 10px !important}
.order_summary h2{ font-size: 14px !important;}
.ship-address h2{
	float: left;
  width: 100%;
  color: #000;
  font-size: 15px;
  font-weight: 500 !important;
  margin-bottom: 30px;
  text-align: left;
}
.sapcebtn{ margin: 8px 20px; float: left; color: #a1a1a1;}
.edit-cart-txt{ float: left;  margin-top: 6px;  font-size: 14px;}
.edit-cart-txt a{ color:#af7b1b; text-decoration: none;  font-weight: 600 !important;}
.ship-address , .billing-address {  
	float: left;
  width: 100%;
  padding: 15px;
  border: 1px solid #EAEAEA;}
  .billing-address  h2{float: left;
  width: 100%;
  color: #000;
  font-size: 15px;
  font-weight: 500 !important;
  margin-bottom: 30px;
  text-align: left;
}
.checktxt{ float: left; font-size: 12px;}
.saddress{  width: 90%; padding: 0px; float: left;}
.saddress h2{font-size: 16px; border-bottom:1px double #ddd; padding-bottom: 6px;  margin: 10px 0px; }
.conshipadd span{ font-weight: bold !important;}
.addline{ display: block; width: 100%; padding-bottom: 10px; border-bottom: 1px solid #ddd;}
.third-block{float: left;  width: 60%;  padding: 15px;  box-shadow: 0px 1px 5px #B6B6B6; margin: 15px 0px; }
.oqtn{  font-weight: bold !important;  margin-bottom: 8px;} 
.sec-block p span{color: #af7b1b}.regtxt{ margin: 30px 0px;}
.mt30{ margin-top: 30px; width: 100%;}
.checkbox-txt{  float: left;  width: 100%;  margin-bottom: 10px;}
.checkbox-bill{  vertical-align: middle;  margin-top: 5px !important;}
.payment-chk h2{
	float: left;
  width: 100%;
  color: #000;
  font-size: 15px;
  font-weight: 500 !important;
  margin-bottom: 30px;
  text-align: left;
}
.payment{
  	float: left;
  width: 96%;
  border: 1px solid #ebebeb;
  padding: 20px;}
  .payment h2{  float: left;
  width: 100%;
  color: #000;
  font-size: 14px;
  font-weight: 500 !important;
  margin-bottom: 30px;
  text-align: left;}
  .confirm h2 {
  font-size: 14px !important;
}
.payment-content{ padding: 10px; float: left; width: 100%;}
.radiohead{ float: left; font-size: 12px; width: 95%;}
.radioship{float: left; font-size: 12px; width: 90%;}
.radiohead span{font-weight: bold !important;}
.radiobtn{margin: 5px 7px 0 0 !important;}
.paybtn{
  text-transform: uppercase;
  color: #fff;
  background-color: #af7b1b;
  line-height: 100%;
  padding: 12px 15px;
  float: left;
  width: 20%;
}
.first-block {margin: 25px 0px;
  display: block;
  border-bottom: 1px solid #ddd;
  padding-bottom: 35px;}
  .sec-block{margin: 25px 0px;
  display: block;
}
.prevadd{ 
	text-transform: capitalize;  
	font-size: 12px;
}
.selectship{ 
	display: block;
	float: left; 
	width: 100%;
}
.mb25{
	margin-bottom: 25px;
}
.mt5{ 
	margin-top: 5px;
}
.oid{  
	font-size: 16px;
  	font-weight: 500 !important;
  	margin-bottom: 20px;
  	margin-top: 5px;
}
.ostatus span{
	font-weight: bold !important;
	font-size: 13px;}
.ostatus{ 
	margin-bottom: 25px;
}
.orderstatus{
	margin-bottom: 20px;
	float: left;
}
 .logout-content{
	float: left;
	width: 100%;
	min-height: 240px;
}

.cart-empty {
    background: #f6f6f6 none repeat scroll 0 0;
    float: left;
    font-size: 14px;
    min-height: 200px;
    padding: 100px 0;
    text-align: center;
    width: 100%;
}

.cart-empty a {
    color: #af7b1b;
    text-decoration: underline;
}
#ui-id-1{
	display: none;
}
.cms-home-v2 #yt_main .columns-w .success-msg{
    display:none !important;
}
.cms-home-v2 #yt_main .columns-w #messages_product_view .success-msg{
    display:block !important;
}