/** karthic css 10/7/15 **/

.ctool{ border-top: none !important; padding-top: 0px !important; padding-bottom: 10px !important;}
.view-mode a { background-color : #fff !important;}
.cbcont{ border: none !important; padding: 0px !important;}
#narrow-by-list dt{ text-transform: capitalize !important; font-size: 16px !important; color: #52565f !important;}
#price-filter-min-text , #price-filter-max-text{ margin-right: 15px !important;}
#narrow-by-list dd {border-bottom: 1px solid #ebebeb !important;}
.fright{ float: right !important;}
.sby{
  border: 1px solid #E6E6E6; 
  color:#666; 
  box-sizing: border-box;
  background: #fff ;
  height: 30px;
  line-height: 27px;
  position: relative;
  padding-left: 10px;
  padding-right: 21px; 
  transition: all 0.3s ease-in-out 0s;
}
.sby:after{
  content: "\f0d7";
  font-family: 'FontAwesome';
  font-size:14px; 
  color:#8d8d8d;
  position:absolute;
  right: 4px;
}
.toolbar .select-inner ul{  width: 150px; right: 0 !important; left: inherit !important; top: 31px !important;}
.toolbar .select-inner ul li a.selected { background: none !important; color: #696d74 !important;}
#sort_by li { padding: 6px !important; border-bottom: 1px solid #ebebeb; font-size: 13px;}
#narrow-by-list dd{ padding-bottom: 40px !important;}
.c_itm{ border:none !important; padding: 0px 10px !important;}
.product-info{ border-bottom : 1px solid #ebebed;}
.products-grid .item .c_itm:hover { box-shadow: none !important;}
.products-grid .item .product-name{ min-height: 40px;}
.products-grid .item { min-height: 330px !important; }
.price-box .price, .category-products .item .price-box .price{ color: #af7b1b !important;}
#yt_wrapper .button{padding: 9px 13px !important;}

.breadcrumbs-content li:last-child{ color: #af7b1b !important}; 
 .select-inner .overwrite-limiter{  height: 25px !important;
  line-height: 24px !important;}
  .product-name a{color: #52565f !important;}
 .yt-left-wrap .basic-bestsale .sm-basic-products{ display: none;}
  .yt-left-wrap .basic-bestsale .block-title{display: none;}
  .basic-bestsale .block-title span{ text-align: center; font-size: 23px; color: #af7b1b !important; display: block;  text-transform: uppercase;border-top: 1px solid #F0F0F0;
  padding-top: 2em; border-bottom: none !important;letter-spacing: 2px;}
  .bs-content .bs-title{    margin-top: 5px;  margin-bottom: 7px;  line-height: 100%;  font-size: 116.5%;   font-weight: bold !important;  min-height: 40px;}
  .bs-content {float: left;  width: 100%;  padding: 0 20px 20px 20px;}
  .statictitle span{
  text-align: center;
  font-size: 20px;
  color: #af7b1b !important;
  display: block;
  border-top: 1px solid #F0F0F0;
  padding-top: 2em;
  border-bottom: none !important;

}
.becomeaseller a{
  color: #52565f;
  font-size: 13px;
  float: left;
  margin-left: 30px;
  letter-spacing: 0.5px;
  padding: 3px 0px;
  text-decoration: underline;
  text-align: center;
}

.staticcontent{  font-size: 13px;display: block;
  margin-top: 20px;}
.basetxt{ color: #af7b1b;}
.curop{  color: #52565f;
  font-size: 14px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold !important;
  text-align: left;}
  .hh span{ font-weight: bold !important; float: none !important; width: auto !important}
  /** cart page**/
.mt15{ margin-top: 15px;}
.mt10{ margin-top: 10px;}
.pad15{ padding: 15px;}
.mb2{ margin-bottom: 2px !important;}
.mb20{ margin-bottom: 20px;}
.fright{ float: right !important;}
.w100{ width: 100%;}
  .cart-title{ text-align: center;  color: #cfb076;  font-size: 20px;  margin: 0em 0px 1em; 
   text-transform: uppercase;  border-bottom: 1px solid #ebebeb;  padding: 25px;  
   font-family: 'Raleway', serif !important;  letter-spacing: 2px;  font-weight: normal !important;}
  .theadtxt{  font-size: 14px;  font-weight: bold !important;  color: #000 !important;}
  .bdtop , .bdtop th{ border:none !important; padding: 0px 10px !important; text-align: left !important;}
.nobd ,  .nobd td{border:none !important;}
.btn-remove2 , .btn-remove2:hover{ color: #ff0000 !important;}
.bdtable {  border-bottom: 1px solid #ebebeb;}
.orderyxy{font-size: 14px;  font-weight: bold !important;  color: #000 !important;  text-transform: capitalize;float: left;  width: 100%;  display: block;}
.coupform{ line-height: 100% !important; margin-top: 0px !important; border: none !important;}
.coupinput{ width: 100% !important;   border: 1px solid #ebebeb !important;}
.boxlength{  float: left;  width: 65%;  margin-right: 2em;}
.coupbtn{  float: left;  width: 30%;}
.cbtn{  color: #fff; float: right; width: 100%;  text-transform: uppercase;  background-color: #52565f;  line-height: 100%;padding: 12px 15px;}
.chktotals{ margin-top: 20px;  float: left;  width: 100%;  line-height: 200%;list-style: none;}
.chktotals li{ text-align: right;}
.chktotals span{ margin-left: 6px;}
.chkbtn{color: #fff;width: 100%; float: right; text-transform: uppercase;  background-color: #af7b1b;  line-height: 100%;padding: 12px 15px; }
.chkbtn span{ margin-left: 0px !important;}
.chkop a{ float: left; cursor: pointer;}
.chkop li{ float: right;}
.mt5{ margin-top: 5px;}
.chkop{width: 53%;  float: right;}
.gtotal{ font-size: 15px;}
.gl-total{ font-size: 14px;}
.gtotal td{  padding-left: 25px;font-weight: bold !important;  color: #000 !important;}
.cart-collaterals{ float: left; width: 100%;}
.padbd{  border-bottom: 1px solid #ebebeb;  padding-bottom: 15px;  float: left;}

/** footer link pages**/

.tmname{  font-size: 15px;  font-weight: bold !important;  display: block;  float: left;  width: 100%; padding-top: 10px;}
.bdbottom{ border-bottom: 1px solid #ebebeb; float: left; width: 100%;  padding: 10px 0px;}
.dsg{ float: left; color: #aeaeae;font-style: italic;}
.retcond{font-size: 13px;  color: #aeaeae;  float: left;  width: 100%; margin-bottom: 15px;}
.left_panel1{  float: left;  width: 100%;}
.blogcontent{   padding: 30px;  float: left;  width: 100%;  border-bottom: 1px solid #ebebeb;  margin-bottom: 20px;}
.left_panel1 a{
  color: #af7b1b;
  text-decoration:underline;
}
.left_panel1 h2{
  color: #af7b1b;
  font-size: 14px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}
.left_panel1 h3{
  color: #52565f;
  font-size: 16px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold !important;
  margin-left: -10px;
  text-align: left;
}
.left_panel1 p{
  color: #52565F;
  font-size: 12px;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  line-height: 20px;
  text-align: justify;
}
.left_panel1 p span{
  font-weight: bold !important;
  float: left;
  width: 100%;
}

.right_panel{
  float: right;
  border: 1px solid #ebebeb;
  padding: 15px;
}
.right_panel ul{
  float:left;
  width:100%;
  padding:0px;
  margin:0px;
  list-style:none;
}
.right_panel ul li{
  float:left;
  width:100%;
}
.right_panel ul li a{
  float:left;
  width:100%;
  font-size: 13px;
  color: #a1a1a1;
  line-height: 24px;
}
.right_panel ul li a:hover{
  color: #af7b1b;
}
.right_panel ul li a.active{
  color: #af7b1b;
}

.text_rool p{
  color: #666;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  font-weight: 400 !important;
}
.blogimg{ max-width: 100%;}
a.lesslink { text-decoration: none; float: right; cursor: pointer;}

.accterms{ padding-bottom: 5px; border-bottom: 1px solid #ebebeb;}
.accterms a{color: #a1a1a1 !important; text-decoration: none !important;margin-bottom: 10px !important;}
.accterms a:hover ,.accterms a:active ,.accterms a:focus{color:#a1a1a1 !important;};

.dwdpk{ display: block; width:100%; float: left;}
.dwdpk img{margin-right: 5px;}
.dwdpk a { text-align: right; text-decoration: none; color: #555;  width: 100%;  float: right;}

.main-title-hww{color: #AF7B1B;
font-weight: 300 !important;
font-size: 16px;
text-transform: underline;
line-height: 24px;
float: left;
width: 100%;
text-align: center;
margin-bottom: 12px;}
.footerpage{border-top: 1px solid #D7D7D7;
border-bottom: 1px solid #D7D7D7;}
.f-block{float: left;
width: 86%;
font-size: 13px;
letter-spacing: 1px;
line-height: 30px !important;
margin: 10px 0px 15px !important;
border-bottom: 1px solid #F2F2F2 !important;
color: #52565F;}
.f-block1{float: left;
width: 100%;
font-size: 13px;
letter-spacing: 1px;
line-height: 30px !important;
margin: 10px 0px 15px !important;
border-bottom: 1px solid #F2F2F2 !important;
color: #52565F;}
.block-content1 ul li a{ color: #af7b1b !important;  line-height: 25px;}
.mt40{ margin-top: 40px !important; border-bottom : none !important;}
.mt35{ margin-top: 35px;}
.footer-site-map{  border-bottom: none !important; width: 100% !important;}
  
  .dfooter{text-align: left; margin-top: 20px;color: #989ca1;font-size: 11px;}
  .copyright{ text-align: center; margin-top: 15px;color: #fff; font-size: 11px;}
  .footer-social-network{ text-align: left !important;}
  .footer-bootom{background: #b8914a !important;}
.bb{ font-weight:bold !important; color: #000;}
  .cat-title{float: left;
  width: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 40px !important;
  border-bottom: 1px solid #af7b1b !important;
  margin: 0px 0px 15px 0px !important;
  text-transform: uppercase;
  color: #000;}

  .buytxt{text-align: center; font-size: 16px; color: #000; background: #f9f9f9; padding: 10px 0px; margin-top: 25px; }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border:none !important;}
  .m-cust-tabs{background: #f1f1f1 !important; border: none !important;}
  .nav-tabs > li > a{border-radius: 0px !important; border: none !important;}
  .mainlink{  padding: 20px 30px !important;}
ul#sub-list li {display:inline;}
#sub-list{ padding: 10px;}
.cat-content{
  padding: 20px;
  background: #f9f9f9;
  min-height: 40em;
  overflow-y: auto;
}
.faq-head{  color: #af7b1b;
  font-weight: bold !important;
  font-size: 12px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;}
  a.s-cust-tabs:hover{ border-color: none !important; background: none !important; border: none !important;}
#sub-list > li > a{  padding: 10px 14px !important;}
.faqqtn{font-weight: bold !important; margin-top: 10px;}
  .f-sub-content{margin-left: 10px;
  color: #BABABA;}

  .sm-searbox-content .icon-search{ color: #737373 !important;}

.savebtntxt{  margin-top: 20px;}
.savebtn{text-transform: uppercase; color: #fff;
  background-color: #af7b1b;
  line-height: 100%;
  padding: 12px 15px;float: left;
}
.mt20{ margin-top: 20px;}

.pad10{ padding: 10px !important}
.order_summary h2{ font-size: 14px !important;}
.ship-address h2{float: left;
  width: 100%;
  color: #000;
  font-size: 15px;
  font-weight: 500 !important;
  margin-bottom: 30px;
  text-align: left;}
.sapcebtn{ margin: 8px 20px; float: left; color: #a1a1a1;}
.edit-cart-txt{ float: left;  margin-top: 6px;  font-size: 14px;}
.edit-cart-txt a{ color:#af7b1b; text-decoration: none;  font-weight: 600 !important;}
.ship-address , .billing-address{  float: left;
  width: 100%;
  padding: 15px;
  border: 1px solid #EAEAEA;}
  .billing-address  h2{float: left;
  width: 100%;
  color: #000;
  font-size: 15px;
  font-weight: 500 !important;
  margin-bottom: 30px;
  text-align: left;}
  .checktxt{ float: left; font-size: 14px;}
  .checkbox-txt{  float: left;  width: 100%;  margin-bottom: 10px;}
  .checkbox-bill{  vertical-align: middle;  margin-top: 5px !important;}
  .cpaymenttab{ border-top: 1px solid #ddd;}
.cpaymenttab li a:active{ }
.cpaymenttab li a{ font-size: 15px; }
.cpaymenttab > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border: none !important; background: #f8f8f8 !important; color: #af7b1b;}
.cpaymenttab > li > a { border-radius:0px !important;}


/** 21 july**/
.kk{   margin-bottom: 0px !important;  font-weight: bold !important;color: #5e616a!important;color: #af7b1b !important;}
.abtvision li{ font-size: 13px;}
.abtvision{float: left;
  width: 100%;
  margin-bottom: 10px;}
  .whitebg{ background: #fff !important;}
  .ctxtar{font-size: 12px; background: #fff !important; color: #52565f; resize:none; width: 100%;}
  .forgetcontainer{ width:100%; float: left; border: 1px solid #ddd;padding: 30px; min-height: 500px;}
  .forgetblock{ width: 60%;}
  .retrtxt{  background: #fff;
    width: 100%;
  float: left;
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 117%;
  padding: 0px;}
   .abtheadtxt{ color: #52565f;
  font-size: 14px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold !important;
  margin-left: -10px;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 1px !important;
  padding: 0px !important;}
  .forgetpwdcmt{width: 100%;
  float: left;
  margin: 10px 0px 35px;}
  .mt4em{ margin-top: 4em;}

  .cinput{ margin-right: 0px !important;}
  .form-cont{ width: 100%; float: left;}
  .fwdbutton-set{  padding-top: 10px;  clear: both;  float: right;  width: 100%;}
  .fwdbtn{  color: #fff;
  text-transform: uppercase;
    float: right;
 
  background-color: #444;
  line-height: 100%;
  padding: 10px 15px;}
  .fwdbtn:hover{ color: #fff !important;}
  .mr10{ margin-right: 10px;}
  .mr3{ margin-right: 3px;}
  .min219{ min-height: 219px;}
.note-msg{ min-height: 251px;color: #AF7B1B;
font-size: 13px;}
.contact-btn{padding-top: 10px;
  clear: both;
  float: left;
  width: 80%;}
  .contact-field{ width:100%; float: left;}
  .contact-button {
  float: right !important;
  width: 108px;
  height: 33px;
  background: #52565f;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 35px;
  margin-right: 11px !important;
  margin-top: 15px;}

  /** manoj custom**/
  .footer-bootom{ height: 60px;}
  #contactForm input{ font-size: 12px !important; }
  .info-content h2{ font-size: 13px !important;}
 
.product-pricing{display: none;}
 /** responsive css**/

@media (min-width: 0px) and (max-width: 360px){

/** home page**/
.header-top-contact{float: left;width: 100%;padding: 8px  0px!important;}
.custcare.custcare.custcare{ margin-top: 0px !important;}
.becomeaseller a{letter-spacing: 1px;font-size: 13px;padding: 7px 0px;margin-left:0px; float: left;}
.becomeaseller{ margin-top: 5px !important;}
.header-cart{ margin: 3px 0px 0px 0px !important;}
.head-searchbox{ margin-top: 0px !important;}
.custcare{ margin-bottom: 0px !important;}
.f-block{ width: 100%;}
.right_panel{ display: none;}
.header2-wrap .slideshow2-wrap{ display: none;}
#yt_header.header2-wrap .yt-header-middle{ padding: 0px !important;}
.header-top-contact{ margin-top: 0px !important;}
#yt-responsivemenu .btn.btn-navbar{ border: none !important;}
.footer-msg-land{ text-align: center !important;margin: 0px 0px 8px 0px !important;}
.inside-body{ padding: 0px 20px !important}
.constrheading{ font-size: 10px !important; width:85% !important;}
.const-closebtn{ width: 90% !important; top: 1em !important;}
/** home page end**/


/** category page**/
.odd ul li{width: 100% !important;}
#narrow-by-list dd input{ width: 100px !important;}
.products-grid .item{ min-height: 222px !important; height: auto !important;}
.catagery_faq{ margin-left: 0px !important; padding-left: 0px !important;}
.catagery_faq h4{ padding-left: 0px !important;}
.block-layered-nav .block-content{    margin:0px !important;}
.limiter label{ display: none;}
 .limiter .select-new{ margin-right: 5px;}
 .toolbar .pager-wrapper{ margin-top: 0px !important}
 #narrow-by-list dd { padding-bottom: 20px !important;}
/** category page end**/


/** contact us page**/
.contact-form-wrapper .form-list{ width: 100% !important;}
.contact-btn{ width: 100%;}
.left_panel{ width: 100%;}
/** contact us end**/


/** sku page**/
.product-essential h3 {font-size: 14px !important;letter-spacing: 2px !important;margin-bottom: 10px !important;}
.product-shop{ margin-top: 15px;}
.zip_input{margin-right: 11px !important;width: 138px !important;}
.yt-tab-navi li{ width: 25% !important;}
.yt-tab-navi li a{ 
  width: 100% !important; 
  float: left; 
  text-align: center; 
  padding: 12px 5px !important; 
  font-size: 9px !important;
}
.yt-tab-content{ font-size: 10px !important; text-align: justify; padding: 10px !important;}
.ui-dialog{width: 340px !important;margin: auto auto auto 10px !important;}
.ui-dialog .ui-dialog-buttonpane button{margin: 2px 10% !important;}
.yt-product-detail .tab-product-detail .yt-tab-navi > li > a{ min-height: 45px !important;}
.tab-pane{ padding: 10px;}
/** sku page end**/


/** cart page**/
  .cart-table td{ padding-left: 50% !important;}
  .cart-table tr{border: 1px solid #ECECEC !important;margin-bottom: 10px;padding: 15px;}
  .product-name{ float: none !important;}
  .cart-title{ margin: 0 !important;}
  .chkop{ width: 75% !important;}
/** cart page end**/

/** registration page**/
#checkoutSteps > li > div{ padding: 0px !important; border: none !important;}
#checkout-step-login .register ul li{ width: 100% !important;}
.input-box{ margin-right: 0px !important;}
.login_panel{ min-height: 315px !important}

/** checkout page**/
.field .input-box{width: 100% !important;}
/** checkout page end**/



/** my account page**/
.my-account{ padding-left: 0px !important;}
.my-account .col2-set .col-2{ padding-left: 0px !important}
.block-account .block-title{ margin: 0px !important;}
.block-account .block-content{ margin-bottom: 0px !important;}

}

/** careers page**/
.car-main{ float: left; width: 100%; margin: 20px 0px;}
.why-us-txt{ float: left; width: 100%; margin-bottom: 15px; text-align: center; font-size: 15px;color: #AF7B1B;font-weight: 300 !important;}
.why-us-content{ float: left; width: 100%; margin-bottom: 15px;}
.perks-content{float: left; width: 100%; margin-bottom: 15px; margin-top: 20px;}
.footer-msg-land{float: left; width: 100%; text-align: right;margin: 15px 0px 0px;}
.block-social-network{    line-height: 20px;margin-bottom: 8px; margin-top: 8px;}

.error-wrapper{border: 1px solid #EBEBEB;padding: 30px;}
.top-text{font-size: 56px;text-align: center;color: #000;}
.broken-line{ font-size: 18px; color: #000; margin-bottom: 3em;}
.content-404page{ text-align: center;}
.com-help-text{font-size: 14px;margin-bottom: 5px; color: #000;}
.com-help-text span{ color: #AF7B1B !important;}
.com-help-text2 span{ color: #AF7B1B !important;}
.com-help-text1{font-size: 13px;margin-bottom: 5px; color: #000;}
.com-help-text2{font-size: 14px;margin-bottom: 3em; color: #000;}
.bottom-text{ text-transform: uppercase;font-size: 13px;color: #C2C2C2; margin-bottom: 5px; clear: both;}
.errorbtn{ background: #000 none repeat scroll 0% 0%;
padding: 8px ;
color: #FFF;
text-align: center;
width: 100%;
float: left;
text-align: center;
}
.button-404{float: left;
width: 100%;
margin-top: 10px;
margin-left: 15px;}
.com-or{color: #C2C2C2; margin-top: 5px;}



/** sku page**/
.padl20{ padding-left: 20px;}
.custom-star{font-size: 15px;color: #AF7B1B;margin-right: 3px;}
.zip-block{ width: 100%; float: left;}
.katxt{margin-top: 15px;color: #6F6F6F;}
.pin_input{
  float: left;
  line-height: 26px;
  margin-top: 1px;
  margin-right: 8px;
  text-align: center;
  font-size: 13px;
  color: #989595 !important;
  width: 163px;
}
.selectmsg1{float:left; width:100%;  margin-top: 15px;}
.addtocartbtn{
  background: #af7b1b none repeat scroll 0% 0%;
  color: #FFF;
  font-size: 16px;
  padding: 8px 18px;
  text-transform: uppercase;
}
.addtocartbtn:hover{background: #52565F none repeat scroll 0% 0%;}
.sellertable th,td{ padding: 15px; width: auto;}
.sellertable th{ color: #af7b1b;}
.clickmetoselect{ border-bottom: 1px solid #ebebeb;}
.center{ text-align: center;}
.current-opening{
  float: left;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  color: #AF7B1B;
  font-weight: 300 !important;
}

.careers-title{ float: left; width: 100%; padding-bottom:5px; padding-top: 5px; }
.careers-title a{ color: #af7b1b; font-size: 13px; }
.car-job-title{clear: both;color: #BCBCBC !important;}
.car-inner-head{ color: #848484;margin: 5px 0px;font-size: 13px;}
.sub-text-faq{font-size: 13px;color: #AEAEAE;float: left;width: 100%;}

.faq-main-heading a{
  color: #AF7B1B;
  font-size: 14px;
  float: left;
  text-decoration: none !important;
  width: 100%;
  font-weight: bold !important;
  text-align: left;
  padding: 10px 0px;
}


.sku-page-price .old-price{ font-size: 16px; text-decoration: line-through; color: #838383; margin-right: 10px;}

@media (min-width: 361px) and (max-width: 479px){
  .products-grid .item{ height: auto !important;}
}

.fast-selpad10{ padding: 0px 10px;}
.fastselling a span{
  float: left;
  width: 100%;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
}
.fastselling{ margin-right: -10px; margin-left: -10px; float: left;}
.homepage-content-head{
  color: #AF7B1B;
  font-weight: 300 !important;
  font-size: 22px;
  font-family: 'Raleway', serif !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 24px;
  float: left;
  width: 100%;
  text-align: center;
  margin: 30px 0px 30px;
}
.bdfooter{ border-top: 1px solid #f2f2f2;}
.mb28{ margin-bottom: 28px;}
.center{ text-align:center !important;}
.knowmsupplytxt a{
  float: left;
  width: 100%;
  font-size: 13px;
  line-height: 40px;
  text-align: left;
}
.sm-searbox-content input{ color: #b1b1b1 !important;}

.constrheading{
  color: #AF7B1B;
  font-size: 13px;
  float: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold !important;
  text-align: right;
  width: 36%;
  padding: 10px;
  background: rgb(243, 243, 243) none repeat scroll 0% 0%;
  clear: right;
  margin-top: 3em;
}
.conthead1{
  color: #2F2F2F;
  font-weight: bold !important;
  font-size: 12px;
  text-transform: Capitalize;
  clear: both;
  margin-bottom: 10px;
  margin-top: 4em;
}

.bdbtm{ float:left; width:100%; border-bottom:1px solid #c5c6c9;}
.conhouse img{ max-width:100%;}

.const-closebtn{
  position: fixed;
  width: 95%;
  z-index: 111111;
  float: right;
  text-align: right;
  top: 2em;
  font-size: 30px;
  background: #FFF none repeat scroll 0% 0%;
  clear: both;
}

.content-body{
  overflow: auto;
  position: relative;
  margin-top: 5em;
  margin-bottom: 2em;
  margin-right: 20px;
  height: 68em;
}
.inside-body{ padding: 0px 63px;float: left;width: 100%;}
.sepli{ margin:9px 0px;}
.substitute-txt span{ color: #8C8C8C  !important;}
.substitute-txt{ margin: 9px 0px;}
.bdbtm-const{ border-bottom: 1px solid #f5f5f5; padding: 10px 0px;}
.mt2em{ margin-top: 2em !important;}
.vastu-heading{
  color: #AF7B1B;
  font-size: 13px;
  float: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold !important;
  text-align: center;
  width: 15%;
  padding: 10px;
  background: #F3F3F3 none repeat scroll 0% 0%;
  clear: right;
  margin-top: 3em;
}

.firstqtn{
  background: #C3A06F none repeat scroll 0% 0%;
  color: #FFF;
  margin-top: 6em;
  clear: both;
  padding: 20px 50px; 
}
.first-b-block{
  color: #FFF;
  font-weight: bold !important;
  font-size: 12px;
  text-transform: none;
  clear: both;
  margin-bottom: 10px;
}
.transheading{
  color: #AF7B1B;
  font-size: 13px;
  float: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold !important;
  text-align: right;
  width: 27%;
  padding: 10px;
  background: #F3F3F3 none repeat scroll 0% 0%;
  clear: right;
  margin-top: 3em;
}

@media (min-width: 361px) and (max-width: 780px){ .theadtxt{ font-size: 11px !important;}}

.sm_megamenu_menu li:last-child .sm_megamenu_dropdown_1column:last-child {right: 0px !important;}

 #ui-datepicker-div{ left:957px !important; z-index: 11111 !important}

@media (min-width: 0px) and (max-width: 449px){
  div.MagicToolboxContainer a{ width: auto !important; height: auto !important;}
  div.MagicToolboxContainer a img{ margin-top: 0px !important;}
  .catalog-product-view .wishlist_price .unit{ font-size: 16px !important;}
  .custominput{ width: 85%;}
  .sku0-pdtname{font-size: 16px !important;margin-bottom: 5px !important;}
}

@media (min-width: 361px) and (max-width: 991px){.custominput{ width: 79% !important;}}
@media (min-width: 992px) and (max-width: 1199px){.custominput{ width: 82% !important;}}
@media (min-width: 320px) and (max-width: 360px){.custominput{ width: 85% !important;}}


.custominput{width: 83%;
padding: 10px !important;
margin-bottom: 15px;
border: 1px solid #E6E6E6;
font-size: 13px;
color: #52565F;
font-weight: 500 !important; float: left;}
.loginsubmit{background: #af7b1b;
    line-height: 41px;
    padding: 0px 15px 1px;
    z-index: 99;
    }